div.cont{
	color: white;
	width: 500px;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	text-align: center;
	margin-top: 15%;
	margin-left: 35%;
	font-size: 80px;
	border-radius: 10px;	
}

body {
	background: linear-gradient(-45deg, #FF1493, #A020F0, #8B008B, #8B0000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
